body {
    background: linear-gradient(to right, #000000, #858585);
    color:white;
    font-size: 4vw;
    font-family:'Helvetica';
}
a, li {
    color:lightblue;
    text-align: left;
    font-size: 3vw;
    text-decoration: none;
    position: relative;
    list-style: none;
}
a:hover {
    color: lightblue;
    text-decoration: none;
  }
  
  a:hover::after {
    border-color: lightblue;
    right: 0;
  }
a::after {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 1em;
    border-top: .1em solid lightblue;
    content: "";
    position: absolute;
      right: 100%;
      bottom: -.0000125em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
        border-color .4s ease-out;
}
/*COPYRIGHT LUCAS GIRALA*/
