body {
    background: linear-gradient(to right, #000000, #858585);
    color:white;
    font-size: 4vw;
    font-family:'Helvetica';
}
a, li {
    list-style: none;
    color:lightblue;
}
a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
/*COPYRIGHT LUCAS GIRALA*/
